@using System.Globalization;
@model WebAppFirst.Models.Login
@{
    ViewBag.Title = "Home Page";
}
@*JQuery, joka suoritetaan aina, kun sivu latautuu*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#login').modal('show');
            }
        });
    </script>
}
<div class="jumbotron">
    <h1>Northwind demo sovellus</h1>
    <p class="lead">Tämä on Northwind harjoitus / Jyrki Reijonen</p>
    <p>Logged.Status on @(ViewBag.LoggedStatus)</p>
    <p>LoginError on @(ViewBag.LoginError)</p>
    <p>Nyt on @DateTime.Now</p>
    <p>Nyt on @DateTime.Now.ToString(new CultureInfo("en-US"))</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">Avaa modal login</button>

</div>
@{ 
    Html.RenderPartial("_LoginModal");
}

