@model IEnumerable<WebAppFirst.Models.Product>
@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showProductId").click(function () {
                var productId = $(this).data("productid");
                alert(productId);
             });
        });
         $(function () {
            $("#poistaTuote").click(function () {
                var productId = $(this).data("productid");
                alert(productId);
             });
        });
    </script>
 }

<h2>Tuotteet</h2>
<h5>Tuotteita on @Model.Count() kappaletta</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Tuote Id</th>
            <th>Tuotteen nimi</th>
            <th>á-hinta</th>
            <th>Varastomäärä</th>
            <th>Tilauksessa määrä</th>
            <th>Kuvalinkki</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebAppFirst.Models.Product prod in Model)
        {
        <tr>
            <td class="showProductId" data-productID="@prod.ProductID">@prod.ProductID</td>
            <td>@prod.ProductName</td>
            <td>@prod.UnitPrice</td>
            <td>@prod.UnitsInStock</td>
            <td>@prod.UnitsOnOrder</td>
            <td>@prod.ImageLink</td>
            <td><button class="btn btn-success" onclick='naytaValittuTuote("@prod.ProductName")'>Muokkaa</button></td>
            <td><button class="btn btn-primary showProductId" data-productID="@prod.ProductID">Popka</button></td>
            <!-- Seuraava rivi toimii vain ensimmäisellä nimikkeellä koska id ei ole uniikki-->
            <td><button class="btn btn-danger" data-ProductID="@prod.ProductID" id="poistaTuote">Poista</button></td>
        </tr>
        }
    </tbody>
</table>
<script>
    function naytaValittuTuote(TuoteId) {
        alert(TuoteId);
    }
</script>
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>
